.nav a img
{
    margin-left: 10%;
}
.news1
{
    width: 100%;
    padding-bottom: 60px;
    float: left;
    text-align: center;
}
.news1_mine
{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
}
.news1 .left
{
    width: 45%;
}
.news1 .left img
{
    width: 80%;
    margin: 8% 0% 0% 4%;
}
.news1 .right
{
    width: 43%;
    margin: 2% 10% 0% 0%;
}
.news1 .right h3
{
    font-size: 190%;
    color: black;
}
.news1 .right p:nth-child(1)
{
    font-size: 120%;
    margin-top: 10%;
    text-align: left;
}
.news1 .right p:nth-child(2)
{
    font-size: 180%;
    margin-top: 3%;
    text-align: left;
}
.news1 .right p:nth-child(3)
{
    font-size: 100%;
    margin-top: 3%;
    text-align: left;
}
@media screen and (max-width: 1080px)
{
    .news1_mine
    {
        display: block;
        margin-left: 20%;
        border: none;
    }
    .news1 .left ,.news1 .right
    {
        width: 70%;
    }
    .news1 .right
    {
        margin-left: 2%;
    }
    .news1 .left img
    {
        width: 100%;
    }
}