.nav img
{
    /*width: 5%;*/
    margin: 0.5% 0% 0.5% 5%;
}
.img
{
    width: 70%;
    margin-left: 15%;
}
img
{
    width: 100%;
}
.text
{
    width: 70%;
    margin-left: 15%;
}
.text b
{
    font-size: 180%;
    margin-top: 3%;
    text-align: left;
}
.text p
{
    font-size: 120%;
    margin: 3% 0% 5% 0%;
    text-align: left;
}