*{
    margin: 0px;
    padding: 0px;
}
body
{
    font-family: 'Roboto', sans-serif;
    /*display: block;*/
}
.nav
{
    width: 100%;
    background: #000000;
    float: left;
    margin-bottom: 2%;
}
.nav p
{
    color: white;
    cursor: pointer;
    float: right;
    font-size: 300%;
    margin-right: 0.5em; 
}
.nav img
{
    width: 5%;
    margin: 0.5% 0% 0.4% 0%;
}
.nav menu
{
    float: right;
    margin: 0.5% 5% 0% 0%;
}
.nav menu ul li
{
    /*display: block;*/
    float: left;
    color: white;
    list-style-type: none;
    margin:1.2em;
    padding: 0.5em 1em;
    border: 1px solid transparent;
    border-radius: 5px;
    letter-spacing: 1px
}
.nav menu ul li:hover
{
    background: #E0B51E;
    transition: 0.2s;
}
.nav .active
{
    border: 1px solid #E0B51E;
    color: #E0B51E;
    transition: 0.2s;
}
.nav .active:hover
{
    color: white;
    transition: 0.2s;
}
.nav a img
{
    margin-left: 10%;
}
.header
{
    /*width: 100%;*/
    background: black;
}
.header img
{
    width: 100%;
    /*float: right;*/   
}
.h
{
    text-align: center;
    font-size: 250%;
    color: black;
    margin: 0% 0% 3% 0%;
}
h3
{
    color: white;
    text-align: center;
    font-size: 150%;
    margin: 2% 0% 2% 0%;
}
h4
{
    color: white;
    font-size: 150%;
    margin-top: 20%;
}
.adventages
{
    width: 100%;
    margin-bottom: 3%;
}
.section1 
{
    justify-content: space-between;
}
.section2
{
    justify-content: space-around;
}
.section2 .box
{
    margin: 5% 8% 0% 8%;
}
.section1 ,.section2
{
    width: 100%;
    display: flex;
}
.section1 .box img ,.section2 .box img
{
    padding: 0% 0% 0% 30%;
    width: 40%;
    filter: blur(0px);
}
.section1 .box p ,.section2 .box p
{
    font-size: 150%;
    color: black;
    text-align: center;
}
.shop
{
    width: 100%;
    /*height: 81%;*/
    background: black;
    display: flex;
    margin-bottom: 3%;
}
.shop_mine
{
    /*float: bottom;*/
    justify-content: space-between;
    display: flex;
}
.shop .left img
{
    width: 100%;
    margin-top: 8%;
}
.shop .right
{
    padding: 0% 1% 3% 0%;
}
.shop .right h3
{
    font-size: 190%;
    padding: 1% 0% 2% 0%;
}
.shop .right p
{
    color: white;
    font-size: 140%;
}
.shop .right p a
{
    color: #E0B51E;
    font-size: 100%;
    margin-left: 35%;
}
.program
{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 5%;
}
.box_p
{
    width: 30%;
    margin: 6% 7% 3% 7%;
}
.box_p:hover
{
    opacity: 0.5;
    transition: 0.8s;
}
.section
{
    width: 100%;
/*    height: 100%;*/
    padding: 1em 0;
    display: flex;
    justify-content: center;
    background: #ECEAEA;
}
.section .box
{
    flex-basis: 22%;
    margin: 4%;
}
.section .box img
{
    width: 100%;
    filter: blur(0px);
}
.section .box h2
{
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em 0;
}
.section .box p ,.section .box p a
{
    text-align: justify;
    width: 85%;
    margin: auto;
    padding: 0.5em 0;
    font-size: 110%;
    line-height: 1.5em;
}
.section .box p a
{
    color: gray;
    margin-left: 25%;
}
.section .box:hover
{
    background: #dadada;
}
.footer
{
    width: 100%;
    background: #1b1c1d;
    display: flex;
}
.address
{
    margin: 0.8% 5% 0 10%;
    width: 12%;
}
.address span
{
    color: white;
    font-size: 150%;
    margin-left: 15%; 
}
.address p
{
    color: #a7a7a7;
    font-size: 120%;
    margin-left: 15%; 
}
.phone
{
    margin: 0 5% 0 5%;
    width: 15%;
}
.phone span
{
    color: white;
    font-size: 150%;
    margin-left: 15%;
}
.phone p
{
    color: #a7a7a7;
    font-size: 120%;
    margin-left: 15%;
}
.map
{
    margin: 2% 0 2% 0;
}
/*.messenger 
{
    margin: 0% 5% 0% 5%;
    width: 13%;
}
.messenger span
{
    color: white;
    font-size: 150%;
}
.messenger div
{
    float: right;
    margin: 20% 3% 0% 3%;
}*/
#menu_m
{
    position: absolute;
    top: 23%;
    left: 75%;
    background: black;
    opacity: 0.5;
}
.nav p
{
    font-size: 500%;
}
#menu_m ul li
{
    color: white;
    list-style-type: none;
    margin:1.2em;
    padding: 0.5em 1em;
    border: 1px solid transparent;
    border-radius: 5px;
    letter-spacing: 1px;
    opacity: 1.5;
}
a
{
    text-decoration: none;
}
#menu_m ul li:hover 
{
    background: #E0B51E;
    transition: 0.2s;
}
#menu_m .active
{
    border: 1px solid #E0B51E;
    color: #E0B51E;
    transition: 0.2s;
}
#menu_m .active:hover
{
    color: white;
    transition: 0.2s;
}
@media screen and (min-width: 1080px)
{
    .nav p ,#menu_m
    {
        display: none;
    }
}
@media screen and (max-width: 1080px)
{
    menu
    {
        display: none;
    }
   .map
    {
        display: none;
    }
    .program ,.shop_mine  ,.section 
    {
        text-align: center;
        display: block;
    }
    .box_p img
    {
        width: 270%;
    }
    .right
    {
        width: 80%;
        margin-left: 10%;
        font-size: 100%;
    }
    .right a
    {
        margin-right: 35%;
    }
    .section .box
    {
        margin-left: 12%;
        width: 80%;
    }
    .section .box p a
    {
        margin-right: 15%;
    }
    .address
    {
        margin: 0.8% 5% 0 15%;
        width: 30%;
    }
    .phone
    {
        width: 30%;
        margin: 0.8% 0% 0 10%;
    }
    .footer
    {
        padding-bottom: 5%;
    }
    .box_p
    {
        margin-right: 5%;
    }
    .nav a img
    {
        width: 10%;
    }
}
