.nav img
{
    width: 5%;
    margin: 0.5% 0% 0.5% 5%;
}
a
{
	text-decoration: none;
	color: black;
}
.subject
{
    width: 100%;
    float: left;
    text-align: center;
}
.subject_mine
{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.subject .left
{
    width: 45%;
}
.subject .left img
{
    width: 50%;
    margin: 8% 0% 0% 4%;
}
.subject .right
{
    width: 43%;
    margin: 0% 10% 0% 0%;
}
.subject .right h3
{
    font-size: 190%;
    color: black;
}
.subject .right p:nth-child(1)
{
    font-size: 180%;
    margin-top: 13%;
    text-align: left;
}
.subject .right p:nth-child(2)
{
    font-size: 120%;
    margin-top: 5%;
    text-align: left;
}
.buy button
{
    color: black;
    font-size: 150%;
    margin: 5% 0% 5% 46%;
    padding: 0.5em 0.5em;
    border: 1px solid transparent;
    border-radius: 4px;
    border: 1px solid #E0B51E;
    letter-spacing: 1px;
}